In [1]:
import pandas as pd

In [2]:
pd.read_excel('n ishu.xlsx')

   name  roll no. grade   batch
0  alex        12    a1  python
1   bob        14    b1    java
2   max        15    a2  python
3  rhea        16    b1     c++

In [4]:
pd.read_csv('nisoo.tsv',sep='\t')

   s.no  name  roll no grade
0     1  alex       12     a
1     2   bob       14     b